{% extends 'personas/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}


{% block content %}

<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-1.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">iPhone 16 Pro</h5>
                    <p class="card-text">Precio: $1.229.990</p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-2.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">iPhone 16</h5>
                    <p class="card-text">Precio: $949.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-3.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">iPhone 15</h5>
                    <p class="card-text">Precio: $829.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-4.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Samsung S24</h5>
                    <p class="card-text">Precio: $629.990 </p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-5.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Samsung S23</h5>
                    <p class="card-text">Precio: $699.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-6.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Samsung S24 FE</h5>
                    <p class="card-text">Precio: $799.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-7.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Samsung S24 Ultra</h5>
                    <p class="card-text">Precio: $1.099.990</p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-8.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Samsung S23 FE</h5>
                    <p class="card-text">Precio: $499.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-9.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi POCO X6 Pro</h5>
                    <p class="card-text">Precio: $339.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-10.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi Redmi Note 13 Pro</h5>
                    <p class="card-text">Precio: $329.990</p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-11.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi Redmi Note 13 </h5>
                    <p class="card-text">Precio: $259.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-12.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Motorola Edge 50 Pro</h5>
                    <p class="card-text">Precio: $459.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-13.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Motorola E14</h5>
                    <p class="card-text">Precio: $69.990</p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-14.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Galaxy A55</h5>
                    <p class="card-text">Precio: $319.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-15.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Samsung A15</h5>
                    <p class="card-text">Precio: $129.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-16.jpg' %}" class="card-img-top" alt="card1">
                <div class="card-body">
                    <h5 class="card-title">Samsung A15 Ligh</h5>
                    <p class="card-text">Precio: $100.000</p>
                    <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-17.jpg' %}" class="card-img-top" alt="card2">
                <div class="card-body">
                    <h5 class="card-title">Samsung A05</h5>
                    <p class="card-text">Precio: $89.990</p>
                    <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'imagenes/card-18.jpg' %}" class="card-img-top" alt="card3">
                <div class="card-body">
                    <h5 class="card-title">Xiaomi 14T</h5>
                    <p class="card-text">Precio: $489.990</p>
                    <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
        <div class="row mt-5 p-5">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'imagenes/card-19.jpg' %}" class="card-img-top" alt="card1">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 13</h5>
                        <p class="card-text">Precio: $539.990</p>
                        <a href="{% url 'iphone16pro' %}" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'imagenes/card-20.jpg' %}" class="card-img-top" alt="card2">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 13 mini</h5>
                        <p class="card-text">Precio: $429.990</p>
                        <a href="{% url 'iphone16' %}" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'imagenes/card-21.jpg' %}" class="card-img-top" alt="card3">
                    <div class="card-body">
                        <h5 class="card-title">iPhone 11</h5>
                        <p class="card-text">Precio: $399.990</p>
                        <a href="{% url 'iphone15' %}" class="btn btn-primary">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}